# Predicting Singapore Resale Flat Prices using Machine Learning Ensembled Modeling

## 1. Introduction



The aim of this study is to analyze and predict the housing resale prices of Singapore from the period of January 2020 to May 2020.

## 2. Methodology

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import warnings
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error
from sklearn.externals import joblib
from sklearn.metrics import mean_squared_error
warnings.simplefilter('ignore')

### 2.1. Data

The datasets that would be for the analysis and prediction of resale flat prices in 2020

#### Remove columns that are unnecessary

We will remove the columns that will not be helpful in the analysis of housing prices. The columns that will be removed are street name and block number. Street name and block number are not really helpful for the analysis of the dataset. Street name's weights can be captured by the town column, while block number's weight can be captured by flat model and lease commence date.

In [22]:
hdb_2017_2020 = pd.read_csv('../8. Predicting Housing price Singapore/datasets/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
hdb_2017_2020 = hdb_2017_2020.drop(columns=['block', 'street_name'])
hdb_2019_2020 = hdb_2017_2020[hdb_2017_2020['month'] >= '2019-01']
hdb_2019_2020

,month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
42384,2019-01,ANG MO KIO,3 ROOM,01 TO 03,68.0,New Generation,1981,61 years 01 month,270000.0
42385,2019-01,ANG MO KIO,3 ROOM,04 TO 06,73.0,New Generation,1976,56 years 04 months,295000.0
42386,2019-01,ANG MO KIO,3 ROOM,07 TO 09,67.0,New Generation,1978,58 years 01 month,270000.0
42387,2019-01,ANG MO KIO,3 ROOM,01 TO 03,67.0,New Generation,1978,58 years,230000.0
42388,2019-01,ANG MO KIO,3 ROOM,01 TO 03,68.0,New Generation,1981,61 years,262500.0
...,...,...,...,...,...,...,...,...,...
70874,2020-05,YISHUN,5 ROOM,10 TO 12,117.0,Premium Apartment,2016,94 years 09 months,578000.0
70875,2020-05,YISHUN,5 ROOM,13 TO 15,112.0,Improved,2015,94 years 06 months,550000.0
70876,2020-05,YISHUN,5 ROOM,13 TO 15,112.0,Improved,2016,94 years 11 months,540000.0
70877,2020-05,YISHUN,EXECUTIVE,10 TO 12,142.0,Apartment,1988,67 years 02 months,553000.0
70878,2020-05,YISHUN,EXECUTIVE,01 TO 03,145.0,Maisonette,1988,66 years 09 months,652888.0

In [16]:
hdb_2017_2020[hdb_2017_2020['month'] >= '2020-01']

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
64571,2020-01,ANG MO KIO,3 ROOM,208,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,55 years 07 months,265000.0
64572,2020-01,ANG MO KIO,3 ROOM,307C,ANG MO KIO AVE 1,19 TO 21,70.0,Model A,2012,91 years 08 months,470000.0
64573,2020-01,ANG MO KIO,3 ROOM,319,ANG MO KIO AVE 1,01 TO 03,73.0,New Generation,1977,56 years 04 months,230000.0
64574,2020-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,55 years 03 months,280000.0
64575,2020-01,ANG MO KIO,3 ROOM,556,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,59 years 01 month,220000.0
...,...,...,...,...,...,...,...,...,...,...,...
70874,2020-05,YISHUN,5 ROOM,342A,YISHUN RING RD,10 TO 12,117.0,Premium Apartment,2016,94 years 09 months,578000.0
70875,2020-05,YISHUN,5 ROOM,335C,YISHUN ST 31,13 TO 15,112.0,Improved,2015,94 years 06 months,550000.0
70876,2020-05,YISHUN,5 ROOM,505A,YISHUN ST 51,13 TO 15,112.0,Improved,2016,94 years 11 months,540000.0
70877,2020-05,YISHUN,EXECUTIVE,391,YISHUN AVE 6,10 TO 12,142.0,Apartment,1988,67 years 02 months,553000.0
70878,2020-05,YISHUN,EXECUTIVE,837,YISHUN ST 81,01 TO 03,145.0,Maisonette,1988,66 years 09 months,652888.0